.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(43, 87, 81);
  height: 100vh;
  background-image: url("./images/IMG_2234.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  /* justify-content: space-evenly; */
}

.part1_p{
  color: black;
  /* font-weight: bolder; */
  text-align: center;
  font-size: large;
  text-shadow: rgb(229, 199, 148) 1px 0 10px;
}

#sec1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 5vh;
}

.home_button{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-top: 20vh;
  /* font-size: small; */
}

.hb{
  text-decoration: none;
  color: black;
  background-color: white;
}


#start_home{
  background-color: whitesmoke;
  background-color: rgb(244, 233, 233);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* #start_background{
  background-color: rgb(35, 35, 35);
  border: 2px solid black;
  border-radius: 3vh;
  padding: 20vh;
} */

#start_button{
  background-color: rgb(131, 123, 123);
  color:rgb(213, 143, 212);
  font-size: large;
}

#start_button:hover{
  background-color: rgb(93, 168, 218);
  color:rgb(213, 74, 210);
}

.imageItems{
  height: 25vh;
  width: 25vh;
}

.imgs_layout{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* background-color: #282c34; */
}

.poem_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 87, 81);
  height: 100vh;
}

#p1{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-image: url("./images/IMG_0908.jpg");
  /* background-repeat: no-repeat; */
  background-position-y: center;
  /* background-position: center; */
  background-size: cover;

}

#p1_p{
  display: flex;
  flex-direction: row;
  text-align: center;
}


.p_button{
  background-color: white;
  /* text-decoration: none; */
  color: black;
  margin-top: 5vh;
  font-weight: bold;
}

#p2{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-image: url("./images/IMG_9983.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  text-align: center;
}

#p2_button{
  color: black;
}

p>span{
  background-color: white;
  line-height: 1;
}

a>span{
  background-color: white;
  line-height: 2;
}


#p3{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("./images/IMG_9077.jpg");
  background-position-x: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #1a1b1c;
  text-align: center;
}

#p3_button{
  background-color: white;
  color: black;
  font-size: large;
  margin-top: 8vh;
}

#p4{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-image: url("./images/IMG_5631.jpg");
  /* background-position-x: center; */
  background-size:contain;
  text-align: center;
}

#p4_poem{
  background-color: white;
  margin-top: 10vh;
  padding: 1rem;
}

#p4_button{
  /* background-color: white; */
  color: black;
  font-size: large;
  margin-top: 8vh;
}
